.footer-v1 {
    font-size: 14px;
    text-decoration: none !important;
    line-height: 1;

    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
    background-color: aliceblue;
}